[Unit]
Description=Enable SR-IOV

[Service]
Type=oneshot

# 创建VF
ExecStart=/usr/bin/bash -c '/usr/bin/echo 8 > /sys/class/net/enp1s0f0/device/sriov_numvfs'
ExecStart=/usr/bin/bash -c '/usr/bin/echo 8 > /sys/class/net/enp1s0f01/device/sriov_numvfs'

# 固定VF的mac地址
#ExecStart=/usr/bin/bash -c '/usr/bin/ip link set 物理网卡1的名字 vf vf的编号 mac 你想要指定vf的mac'
#ExecStart=/usr/bin/bash -c '/usr/bin/ip link set 物理网卡2的名字 vf vf的编号 mac 你想要指定vf的mac'

[Install]
WantedBy=multi-user.target
